In [ ]:
# Note, you must run this notebook from the scripts/ directory

In [1]:
import pandas as pd
from eia import Emissions
from constants import STATES_INTERCONNECT_MAPPER, STATE_2_CODE

In [3]:
EIA_API = ""

In [15]:
def create_emission_table(sector, year, api):
    df = Emissions(sector, year, api).get_data()
    df["code"] = df.state.map(STATE_2_CODE)
    df["interconnect"] = df.code.map(STATES_INTERCONNECT_MAPPER)
    df = df.dropna(subset=["interconnect"])[["value", "units", "interconnect"]].reset_index()
    df["value"] = df.value.astype(float)
    return df.groupby(["period", "interconnect", "units"]).sum().round(2)

In [19]:
power = []
for year in [2005, 2010, 2015, 2019, 2020, 2021]:
    power.append(create_emission_table("power", year, EIA_API))
pd.concat(power)

                                                  value
period interconnect units
2005   eastern      million metric tons of CO2  1843.14
       texas        million metric tons of CO2   230.60
       western      million metric tons of CO2   315.96
2010   eastern      million metric tons of CO2  1720.38
       texas        million metric tons of CO2   222.08
       western      million metric tons of CO2   306.99
2015   eastern      million metric tons of CO2  1390.84
       texas        million metric tons of CO2   214.91
       western      million metric tons of CO2   286.21
2019   eastern      million metric tons of CO2  1159.56
       texas        million metric tons of CO2   190.79
       western      million metric tons of CO2   248.77
2020   eastern      million metric tons of CO2  1031.97
       texas        million metric tons of CO2   176.88
       western      million metric tons of CO2   222.97
2021   eastern      million metric tons of CO2  1125.53
       texas        million metric tons of CO2   180.30
       western      million metric tons of CO2   227.64

In [20]:
total = []
for year in [2005, 2010, 2015, 2019, 2020, 2021]:
    total.append(create_emission_table("total", year, EIA_API))
pd.concat(total)

                                                  value
period interconnect units
2005   eastern      million metric tons of CO2  4279.71
       texas        million metric tons of CO2   645.02
       western      million metric tons of CO2   995.47
2010   eastern      million metric tons of CO2  3970.01
       texas        million metric tons of CO2   615.54
       western      million metric tons of CO2   942.07
2015   eastern      million metric tons of CO2  3639.09
       texas        million metric tons of CO2   655.26
       western      million metric tons of CO2   918.23
2019   eastern      million metric tons of CO2  3489.17
       texas        million metric tons of CO2   683.42
       western      million metric tons of CO2   932.33
2020   eastern      million metric tons of CO2  3109.29
       texas        million metric tons of CO2   624.68
       western      million metric tons of CO2   809.85
2021   eastern      million metric tons of CO2  3335.77
       texas        million metric tons of CO2   663.46
       western      million metric tons of CO2   855.79